<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Spaces | MakersBnB</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>

<body>
    <div>
        <a href="/{{userid}}/spaces"> Spaces</a> |
        <a href="/{{userid}}/requests"> Requests</a> |
        <a href="/"> Sign out</a>
    </div>
    <div>
      

  {% if posted %}
        <h2>Thank you for listing {{ space.title }}!</h2>
        {% endif %}

        <h1>Book a Space</h1>
       <form action="/{{userid}}/spaces/new" method="get">

    <p>
        <input type="submit" value="Create A Space">
    
    </p>
    </form>
  
        <form action="/{{userid}}/spaces" method="post">
            {% if date_error%}
            <p class= "t-date_error">
                There were errors in your submission: {{date_error}}
            </p>
            {% endif %}

        <p>
            <label for="pick_a_date">Pick A Date (YYYY-MM-DD)</label>
            <input type="text" name="Pick A Date" id="pick_a_date">
            <br>
        </p>
        <input type="submit" value="List Available Spaces">
        </form>
        
      
      
    </div>


    </form>
</body>

</html>